$white-color: #ffffff;
$blue-color-500: #2196F3;
$new-grey-color: #574751;

$grey-color-100: #F5F5F5;
$grey-color-200: #EEEEEE;
$grey-color-300: #E0E0E0;
$grey-color-400: #BDBDBD;
$grey-color-500: #9E9E9E;
$grey-color-600: #757575;
$grey-color-700: #616161;
$grey-color-800: #424242;
$grey-color-900: #212121;

$grey-background: rgba(224,224,224, 0.25);
$disabled-color: #EEEEEE;

$orange-color-500: #FF9800;
$orange-color-400: #FFA726;

$layout-padding: 1.5rem;
$layout-padding-hor: 1rem;
$layout-padding-ver: 0.5rem;

$header-height: 50px;
$header-margin: 20px;

$designer-tab-height: 40px;
$designer-tab-width: 200px;

$designer-tab-func-btn-height: 30px;

$footer-height: 3.5px;
$input-height: 42px;

$title-height: 3rem;

$pagination-height: 50px;

$thumbnail-width: 300px;

$margin-bottom-large: 40px;
$margin-bottom-md: 25px;

$screen-sm-min: 800px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs: 700px;
$screen-xs-min: 700px;

$image-ratio: 1.7/3;

$box-shadow-default: 0 1px 1px 1px rgba(127,127,127,0.3);
$box-shadow-designer: 10px 10px 5px $grey-color-400;

$fts-display2: 2.5rem;
$fts-display3: 3rem;
$fts-display1: 2rem;
$fts-headline: 1.5rem;
$fts-title: 1.1rem;
$fts-subheading: 0.88rem;
$fts-body: 0.8rem;
$fts-caption: 0.65rem;
$fts-button: 0.8rem;
$fts-icon-sml: 1rem;
$fts-icon-md: 1.25rem;
$fts-icon-lg: 1.5rem;

$ftw-regular: 500;
$ftw-medium: 600;

$designer-green: #4CAF50;
$designer-red: #F44336;

$node-start-end-size: 44px;
$node-border-color: #0D47A1;

$palette-item-height: 44px;
$palette-temp-height: 30px;

$icon-size: 1.7rem;
$task-temp-gap: 0.25rem;

$task-iconmenu-size: 18px;
$task-iconmenu-item-size: 24px;
