//
// _buttons.scss
//

button,
a {
  outline: none !important;
}

// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark,
.btn-secondary {
  color: #eff2f7;
  background-color: #2bbbad;
  border-color: #2bbbad;
}

.btn-outline-light {
  color: $gray-900;
}
