.profile-text-imge{
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin: 0px auto;
    background: #f8f8fb;
    border-radius: 50%;
    font-size: 25px;
    color: #66b17e;
    margin-bottom: 15px;
}

.profile-text-imge-small{
    line-height: 35px;
    height: 35px;
    width: 35px;
    margin: 0px auto;
    background: #f8f8fb;
    border-radius: 50%;
    color: #66b17e;
}