.login .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: #00000080;
    color: #fff;
}
.flyout.landing-img > main {
    margin-top: 0px !important;
}

#LoginForm{
    width: 30%;
    border:1px solid;
    margin-top: 70px !important;
    margin: 15px 38px 0px auto;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 50px !important;
    text-align: center;
}

#LoginForm form ,#CompanyLoginForm form{
    margin-bottom: 20px !important;
}

#LoginForm form input, #CompanyLoginForm form input{
    border: 1px solid;
    margin-top: 5px;
    padding-left: 5px;
}

#LoginForm .row , #LoginForm .input-field,#CompanyLoginForm .row , #LoginForm .input-field{
    margin-bottom : 0px;
}
#LoginForm form .submit-btn{
width: 80%;
/* background-color: rgb(241, 125, 129); */
background-color: #26a69a;
margin-left: 10px !important;
}

#LoginForm form .submit-btn[disabled], #CompanyLoginForm form .submit-btn[disabled]  {
    color: white !important;
    /* background-color: rgb(235, 166, 168) !important; */
    background-color: #59a8a0c7 !important;
  }

#LoginForm form label,#CompanyLoginForm form label{
    font-weight: bold;
}

#LoginForm .fb_signup_txt, #CompanyLoginForm .fb_signup_txt{
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-weight: 800;
    padding-left: 10px;
    cursor: pointer !important;
}

#LoginForm .loginwithGoogle{
    width: 80%;
    height: 45px;
    color: rgb(118, 118, 118) !important;
    background: white;
    border: 2px solid rgb(118, 118, 118);
    border-radius: 4px !important;
    margin: 0 auto;
    cursor: pointer !important;
}

#LoginForm .loginwithGoogle svg{
    width: 18px;
    height: 23px;
    color: white;
    fill: currentcolor;
    display: block;
    cursor: pointer !important;
}

#LoginForm .div_google{   
    margin: 0 auto;
    width: 80% !important;
    display: flex;
    padding-top: 8px;
    cursor: pointer !important;
}

#LoginForm .div_google button, #CompanyLoginForm .div_google button{   
    width: 100%;
    border: 2px solid rgb(118, 118, 118) !important;
    box-shadow : inherit !important;
}
#LoginForm .or_txt_signup, #CompanyLoginForm .or_txt_signup
{
    margin-top: -5px;
}
#LoginForm .footer_login, #CompanyLoginForm .footer_login {
    margin-bottom: 45px !important;
    text-align: center;
}

#LoginForm .title, #CompanyLoginForm .title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#CompanyLoginForm{
    width: 30%;
    border: 1px solid;
    margin-top: 70px !important;
    margin: 15px 38px 0px auto;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 50px !important;
}


.or-seperator{
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i{
    padding: 0 10px;
    background: #00000080;
    /* background: #fff; */
    position: relative;
    top: -15px;
    z-index: 1;
}

.google-btn{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #ca1c24 !important
}

.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
  }

  .google-button:focus,.google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  .google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 27px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }

.login {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.login:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
    left: 0;
    top: 50px;
	background-image: url(https://source.unsplash.com/collection/30953102); 
	/* background-image: url(https://www.teahub.io/photos/full/151-1516213_sharepoint-online.jpg); */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: static;
	-webkit-background-size: cover;
	background-size: cover;
}

.login-form {
    opacity: 0.8;
}

.login-form1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 320px) and (max-width: 480px) {
    .login .card {
        width: 85%;
    }
}  
@media (min-width: 576px) and (max-width: 767.98px) { 
    .login .card {
        width: 40%;
    }
 }
 @media (min-width: 768px) and (max-width: 991.98px) {
    .login .card {
        width: 40%;
    }
 }